In [1]:
import os
import pandas as pd
import numpy as np
import random
import dendropy
import treeswift
from treeswift import read_tree_newick
#import matplotlib.pyplot as plt
import re

In [10]:
print(os.getcwd())

/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/revisions_ONT_reads_variable_err

In [12]:
path = "results"   # change to your folder

# list only directories (not files)
dirs = [d for d in os.listdir(path) if os.path.isdir(os.path.join(path, d)) ]

In [13]:
dirs

['ONT_095_Claded_Chunked',
 'ONT_099_Uncladed_Chunked',
 'ONT_090_Claded_Chunked',
 'ONT_085_Claded_Chunked',
 'ONT_099_Claded_Chunked',
 'ONT_1_Claded_Chunked',
 'ONT_085_Uncladed_Chunked',
 'ONT_095_Uncladed_Chunked',
 'ONT_1_Uncladed_Chunked',
 'ONT_090_Uncladed_Chunked']

In [79]:
my_path = "/Users/nora/Documents/ml_metagenomics"
length_folder = "ONT_read_length"

true_clades = pd.read_csv(os.path.join(my_path, "clade_targets.txt"), sep = " ", header = 0)

In [61]:
true_clades

           genome  clade
0      G001940755     13
1      G001918745     13
2      G001920395     13
3      G001918475     13
4      G000724145     13
...           ...    ...
10570  G001652645      9
10571  G001652685      9
10572  G900061685      9
10573  G900061725      9
10574  G900061705      9

[10575 rows x 2 columns]

In [90]:
my_big_df = pd.DataFrame()

for d in dirs:
    
    dir_path = os.path.join(path, d)
    
    if os.path.isdir(dir_path):
        # Define the two files you want to read
        file1 = os.path.join(dir_path, "classes.out")
        file2 = os.path.join(dir_path, "all.pl_err" )

        # Only proceed if both files exist
        if os.path.exists(file1) and os.path.exists(file2):
            df1 = pd.read_csv(file1, sep="\t")
            
            df2 = pd.read_csv(file2, sep=" ", header = None, names=["contigID", "empty", "count", "pl_err", "ratio"] )
            df2 = df2.drop(columns=["empty"])
            try:
                filtered_df2 = df2[df2["contigID"] != "all.pl_err"]
            except:
                filtered_df2=copy.deepcopy(df2)
            # Remove the prefix from each entry in 'contigID'
            filtered_df2.loc[:, "contigID"] = filtered_df2["contigID"].str.replace("apples_input_di_mtrx_query_", "", regex=False)
            filtered_df2.loc[:, "contigID"] = filtered_df2["contigID"].str.replace(".pl_err", "", regex=False)


        combo_df = pd.merge(filtered_df2, df1, how = "left", left_on = "contigID", right_on = "genome")
        
        # Extract everything before ".part"
        combo_df["parent_genome"] = combo_df["contigID"].str.split(".part").str[0]
        combo_df_w_trueclass = pd.merge(combo_df, true_clades, how = "left", left_on = "parent_genome", right_on = "genome")
        meta_data = d.split ("_")
        
        combo_df_w_trueclass["read_err"] = meta_data[1]
        combo_df_w_trueclass["model"] = "{}_{}".format(meta_data[2], meta_data[3])


        mean_score = combo_df_w_trueclass["pl_err"].mean()
        equal_count = (combo_df_w_trueclass["top_class"] == combo_df_w_trueclass["clade"]).sum()/len(combo_df_w_trueclass)

        mean_score_rounded = round(mean_score, 3) 
        equal_count_rounded = round(equal_count, 3) 
        print (d, mean_score_rounded, equal_count_rounded)

        # Append contig length information
        col_names = ["readID", "length", "A", "C", "G", "T", "2", "3", "4", "CpG", "tv", "ts", "CpG-ts"]
        length_df = pd.read_csv(os.path.join(length_folder, "ONT_reads_best10genomes_TOLqueries_{}_LENGTH.txt".format(meta_data[1])), sep = "\t", header = None, names = col_names)
        length_df["length_adj"] = length_df["A"] + length_df["C"] + length_df["G"] + length_df["T"]
        
        combo_df_w_trueclass_len = pd.merge(combo_df_w_trueclass, length_df, how="left", left_on = "contigID", right_on = "readID")

        # Concatenate vertically
        my_big_df = pd.concat([my_big_df, combo_df_w_trueclass_len], axis=0)
        

        """
        # Generate true classes.out output so claded_chunked_TRUE can be tested
        if "Claded" in d:
            # Select only the two columns you want
            output_df = combo_df_w_trueclass[["genome_x", "clade"]]
            output_df = output_df.rename(columns={"genome_x": "genome"})
            output_df = output_df.rename(columns={"clade": "top_class"})
            

            # Write to a tab-separated text file without the index
            output_df.to_csv("true_class_files/true_{}_classes.out".format(meta_data[1]), sep="\t", index=False)
        """

# Write to CSV file
my_big_df.to_csv("ONT_best10TOLquer_varReadErr.csv", index=False)

ONT_095_Claded_Chunked 2.995 0.936
ONT_099_Uncladed_Chunked 3.364 0.0
ONT_090_Claded_Chunked 4.307 0.904
ONT_085_Claded_Chunked 6.636 0.847
ONT_099_Claded_Chunked 2.75 0.947
ONT_1_Claded_Chunked 2.574 0.949
ONT_085_Uncladed_Chunked 8.125 0.0
ONT_095_Uncladed_Chunked 3.626 0.0
ONT_1_Uncladed_Chunked 3.31 0.0
ONT_090_Uncladed_Chunked 5.093 0.0

In [86]:
combo_df_w_trueclass_len

,contigID,count,pl_err,ratio,genome_x,top_class,parent_genome,genome_y,clade,read_err,...,G,T,2,3,4,CpG,tv,ts,CpG-ts,length_adj
0,G000008665.part_1_100,10069.0,3.0,0.0003,G000008665.part_1_100,0,G000008665,G000008665,13,090,...,2078,2187,0,0,0,996,0,0,0,8504
1,G000008665.part_1_102,10069.0,3.0,0.0003,G000008665.part_1_102,0,G000008665,G000008665,13,090,...,4401,4727,0,0,0,1864,0,0,0,18275
2,G000008665.part_1_103,10069.0,3.0,0.0003,G000008665.part_1_103,0,G000008665,G000008665,13,090,...,2993,3263,0,0,0,1210,0,0,0,12923
3,G000008665.part_1_104,10069.0,2.0,0.0002,G000008665.part_1_104,0,G000008665,G000008665,13,090,...,7215,7472,0,0,0,2628,0,0,0,28614
4,G000008665.part_1_106,10069.0,7.0,0.0007,G000008665.part_1_106,0,G000008665,G000008665,13,090,...,2047,2777,0,0,0,792,0,0,0,9515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1805,G900089075.part_9_94,10069.0,2.0,0.0002,G900089075.part_9_94,0,G900089075,G900089075,6,090,...,1682,2606,0,0,0,842,0,0,0,8549
1806,G900089075.part_9_95,10069.0,5.0,0.0005,G900089075.part_9_95,0,G900089075,G900089075,6,090,...,2155,4354,0,0,0,804,0,0,0,12826
1807,G900089075.part_9_96,10069.0,13.0,0.0013,G900089075.part_9_96,0,G900089075,G900089075,6,090,...,1898,2507,0,0,0,674,0,0,0,8978
1808,G900089075.part_9_99,10069.0,6.0,0.0006,G900089075.part_9_99,0,G900089075,G900089075,6,090,...,1342,2035,0,0,0,658,0,0,0,6707
1809,G900089075.part_9_9,10069.0,7.0,0.0007,G900089075.part_9_9,0,G900089075,G900089075,6,090,...,1054,1672,0,0,0,372,0,0,0,5274

In [84]:
len(length_df)

1860

In [ ]:
# Generate true classes for

In [58]:
# Merge dataframes

total_p1 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_Chunked_Model"
total_p2 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_Full_Model"
total_p3 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_Global_Model"
total_p4 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_ChunkedExp_Model"
total_p5 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_ChunkedExp_Global_hybrid_Model"
total_p6 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_ChunkedExp_Global_hybrid_Model"
total_p7 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_Global_Chunk_Model"
total_p8 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v55_8k_s28_clade_All_TOL_CONTIGS_ChunkedExp_Model_v55"
total_p9 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_ChunkedExp_Model_TRUE_CLADE"
total_p10 = "/Users/nora/Documents/ml_metagenomics/tol_variable_k_resuls/k7_v38_8k_s28_clade_All_TOL_CONTIGS_Full_Model_TRUE_CLADE"

total_f1 = "summary_FULL_GENOME_CONTIGS.pl_error"
total_f2 = "summary_FULL_GENOME_CONTIGS_FullModel.pl_error"
total_f3 = "summary_FULL_GENOME_CONTIGS_GlobalModel.pl_error"
total_f4 = "summary_FULL_GENOME_CONTIGS_ChunkExpModel.pl_error"
total_f5 = "summary_FULL_GENOME_CONTIGS_ChunkExp_Global_Model.pl_error"
total_f6 = "summary_FULL_GENOME_CONTIGS_ChunkExp_Global_Modelp_0.9.pl_error"
total_f7 = "summary_FULL_GENOME_CONTIGS_GlobalChunkModel.pl_error"
total_f8 = "summary_FULL_GENOME_CONTIGS_ChunkExpModel_v55.pl_error" # incomplete classification
total_f9 = "summary_FULL_GENOME_CONTIGS_ChunkExpModel_TRUE_CLADE.pl_error"
total_f10 = "summary_FULL_GENOME_CONTIGS_FullModel_TRUE_CLADE.pl_error"



t1 = pd.read_csv(os.path.join(total_p1, total_f1), sep=' ', header = 0)
t2 = pd.read_csv(os.path.join(total_p2, total_f2), sep=' ', header = 0)
t3 = pd.read_csv(os.path.join(total_p3, total_f3), sep=' ', header = 0)
t4 = pd.read_csv(os.path.join(total_p4, total_f4), sep=' ', header = 0)
t5 = pd.read_csv(os.path.join(total_p5, total_f5), sep=' ', header = 0)
t6 = pd.read_csv(os.path.join(total_p6, total_f6), sep=' ', header = 0)
t7 = pd.read_csv(os.path.join(total_p7, total_f7), sep=' ', header = 0)
t8 = pd.read_csv(os.path.join(total_p8, total_f8), sep=' ', header = 0)
t9 = pd.read_csv(os.path.join(total_p9, total_f9), sep=' ', header = 0)
t10 = pd.read_csv(os.path.join(total_p10, total_f10), sep=' ', header = 0)

In [59]:
t1["model"] = "Chunk"
t2["model"] = "Full"
t3["model"] = "Global"
t4["model"] = "ChunkExp"
t7["model"] = "Global_Chunk"
t8["model"] = "ChunkExp_v55"
t9["model"] = "ChunkExp_TrueClade"
t10["model"] = "Full_TrueClade"

In [60]:
total_t = pd.concat([t1, t2, t3, t4, t5, t6, t7, t8, t9, t10], ignore_index=True)

In [6]:
total_t.to_csv(os.path.join(os.getcwd(), "summary_TOL_full_genome_contigs_six_models.pl_error"), index=False, sep=' ', header=True)